body {
  background-color: rgb(243, 41, 182);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

#root {
  background-color: rgb(12, 12, 12);
  align-content: center;
  width: 95%;
  margin: auto;
  font-family: "Atkinson Hyperlegible", sans-serif;
}
ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  padding: 10px;
  justify-content: center;
  max-width: 100%;
  padding: 20px;
}

li {
  background: rgb(5, 5, 5);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: rgb(231, 227, 227);
}

li h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 25px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(5, 5, 5);
}

li p {
  text-align: left;
}

li img {
  object-fit: cover;
  border-radius: 5px;
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

#select-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

#select-container label,
#select-container input {
  margin: 0;
}

.showName {
  border-radius: 1px solid rgb(211, 211, 211);
  border-radius: 10px;
}

.showListContainer {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 30px;
  padding: 20px;
  max-width: 100%;
}

@media (max-width: 768px) {
  .showListContainer {
    grid-template-columns: 1fr;
  }
}

.showCard {
  background-color: rgb(5, 5, 5);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 20px;
  align-items: flex-start;
  color: white;
}

.imageWrapper {
  position: relative;
  width: 100%;
}

.showImage {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.showDetails {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  overflow-y: auto;
  font-size: 14px;
  border-radius: 5px;
  box-sizing: border-box;
}

.showCard:hover .showDetails {
  opacity: 1;
}

.showMoreBtn {
  border: none;
  background-color: white;
  border-radius: 6px;
  padding: 10px;
  font-size: medium;
}

.showMoreBtn:hover {
  background-color: rgb(243, 41, 182);
  transform: scale(1.1);
}

#genre {
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: rgb(5, 5, 5);
  cursor: pointer;
  transition: border-color 0.3s ease;
}

#genre:hover,
#genre:focus {
  border-color: #0077cc;
  outline: none;
}

#rating {
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: rgb(5, 5, 5);
  cursor: pointer;
  transition: border-color 0.3s ease;
  color: white;
}

#rating:hover,
#rating:focus {
  border-color: #0077cc;
  outline: none;
}

#select {
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: rgb(228, 99, 157);
  cursor: pointer;
  transition: border-color 0.3s ease;
  color: white;
}

#select:hover,
#select:focus {
  border-color: #0077cc;
  outline: none;
}

#otherShowsSelect {
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: rgb(5, 5, 5);
  cursor: pointer;
  transition: border-color 0.3s ease;
}

#otherShowsSelect:hover,
#otherShowsSelect:focus {
  border-color: #0077cc;
  outline: none;
}

#search {
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: rgb(5, 5, 5);
  cursor: pointer;
  transition: border-color 0.3s ease;
}

#search:hover,
#search:focus {
  border-color: #0077cc;
  outline: none;
}
